Photometric_DB/
tmp/
iac
.vscode/
preprocess/detectron2
preprocess/normalmap.exr
preprocess/albedo.exr
preprocess/depthmap.exr
preprocess/processed_sessions.txt
preprocess/im0.bmp
preprocess/padding.csv
preprocess/failed_crop.txt

Photometric_DB_split/
Results/
Normal_Map/
Albedo/
Depth_Map/
2D_Dataset/
3D_Dataset/